body {
    font-family: 'Nanum Myeongjo';
}

nav {
    font-size: larger;
}

.nav-item {
    color: #272443;
}

form {
    background-color: #F6F8F9;
}

.button {
    color: #F6F8F9;
    background-color: #606C89;
}